<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hillavas.filmvazhe">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->



    <uses-sdk
        tools:overrideLibrary="co.ronash.pushe" />
    <permission
        android:name="com.hillavas.videokart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.hillavas.videokart.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        >
        <activity
            android:name=".screen.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.FilmVazehSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.VideoKartSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".screen.LessonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.FavoriteClipsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen.MovieDialogListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.LessonWordsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".screen.DialogueDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.BookWordDialougeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.UnsubscribeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7ba3b3c1dc73486d1f7293640622d943189db682" />


        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.hillavas.videokart"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hillavas.videokart" />
            </intent-filter>
        </receiver>

        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_38117559926"/>
        <meta-data android:name="co.ronash.pushe.cr" android:value="Tm9uZQ=="/>


    </application>

</manifest>