<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hillavas.filmvazhe">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        >
        <activity
            android:name=".screen.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.FilmVazehSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.VideoKartSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".screen.LessonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.FavoriteClipsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen.MovieDialogListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.LessonWordsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".screen.DialogueDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".screen.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.BookWordDialougeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.UnsubscribeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7ba3b3c1dc73486d1f7293640622d943189db682" />

    </application>

</manifest>